<!DOCTYPE html>
<html lang="en">
<!-- Head Partial -->
<%- include('./partials/head.ejs') %> 

<body class="home-4">

	<!-- START PRELOADER -->
	<div id="page-preloader">
		<div class="theme-loader">The Moon House</div>
	</div>
	<!-- END PRELOADER --> 
	
	<!-- NAV SECTION -->
	<%- include('./partials/nav.ejs') %> 
	
	<!-- START SLIDER SECTION -->
	<section id="home" class="slider-section">
		<div class="home-slides-2 owl-carousel owl-theme ">
			<div class="home-single-slide" data-background="assets/img/bg/slide2.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="auto-container">
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-8 col-12 mx-auto text-center">
								<div class="home-single-slide-dec">
									<h2>Build your Wealth with Cryptocurrency</h2>
									<p>Increase your income and earn as 15% ROI Monthly</p>
									<div class="home-single-slide-button">
										<a href="invest#wallet" class="btn-style animated btn-border js-scroll-trigger">Learn More</a>
										<a href="invest" class=" animated btn-style btn-filled">Invest</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide3.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="auto-container">
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-8 col-12 mx-auto text-center">
								<div class="home-single-slide-dec">
									<h2>Master an Easy Way to Trade Crypto</h2>
									<p>Enroll and Join the Moon house Academy now!</p>
									<div class="home-single-slide-button">
										<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="btn-style animated btn-filled">Contact Us</a>
										<a href="#about2" class="js-scroll-trigger btn-style btn-border animated">View More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
			<div class="home-single-slide" data-background="assets/img/bg/slide1.jpg">
				<div class="home-slide-overlay"></div>
				<div class="home-single-slide-inner">
					<div class="auto-container">
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-8 col-12 mx-auto text-center">
								<div class="home-single-slide-dec">
									<h2>Accurate Trading Signal Services</h2>
									<p>Join our Exclusive Trading Signals group and make consistent profit</p>
									<div class="home-single-slide-button">
										<a href="#faq" class="btn-style btn-filled js-scroll-trigger animated ">Learn More</a>
										<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="btn-style  animated btn-border">Sign Up</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end single slider -->
		</div>
	</section>
	<!-- END SLIDER SECTION -->
	
	<!-- START ABOUT SECTION -->
    <section id="about2" class="section-padding pt-lg-0 pt-md-0">
        <div class="container">
			<div class="row text-center">
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#price" class="js-scroll-trigger"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-btc"></i>
							</div>
							<div class="single-about-title">
								<h5>Crypto Trading Training</h5>
							</div>
							<div class="single-about-dec">
								<p>Our Academy is dedicated towards learning Crypto Trading Concepts, what decisions to make in the market and even trading during dips.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#price" class="js-scroll-trigger"><img src="assets/img/bg/bg4.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Trading Signal Services</h5>
							</div>
							<div class="single-about-dec">
								<p>We have your experts promptly deliver trading signals to aid your trades in form of currency pairs that are certain to guarantee profit</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#price" class="js-scroll-trigger"><img src="assets/img/bg/bg5.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-user"></i>
							</div>
							<div class="single-about-title">
								<h5>Mentorship</h5>
							</div>
							<div class="single-about-dec">
								<p>We do not just teach, We make sure to Mentor our students for at least a year so as to have them properly learn the strategies to safe and consistent profit in the crypto market.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg6.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fab fa-gg"></i>
							</div>
							<div class="single-about-title">
								<h5>Cyber Security</h5>
							</div>
							<div class="single-about-dec">
								<p>Coming Soon</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg3.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-code"></i>
							</div>
							<div class="single-about-title">
								<h5>Web Development</h5>
							</div>
							<div class="single-about-dec">
								<p>Coming Soon.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
				<div class="single-about-item col-lg-4 col-md-4 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="single-about">
						<div class="single-about-img">
							<div class="single-about-img-inner">
								<a href="#"><img src="assets/img/bg/bg1.jpg" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="single-about-caption">
							<div class="single-about-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							<div class="single-about-title">
								<h5>Financial Consulting</h5>
							</div>
							<div class="single-about-dec">
								<p>Coming Soon.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end single about -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END ABOUT SECTION -->

	<section id="promondex2" class="section-padding bg-gray">
        <div class="container">	 
			<div class="row mb-5">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<img class="img-fluid" src="assets/img/blog/2.jpg" alt="">
				</div>
				<!-- end col -->
				<div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5 faq-page-into">
					<h6>Invest in The <span class="orange">Moon</span> House</h6>
					<h3>Secure &amp; easy way to invest in Cryptocurrency</h3>
					<p>Building Wealth by investing in cryptocurrency is really easy and you do not even have to be an expert, So why keep your money in the bank when you can have it work for you? The Moon House is offering massive returns on investment.</p>
					<ul>
						<li><i class="icofont icofont-ui-press"></i>VIP Investment Plan | Minimum Capital <span class="orange">$</span>100.</li>
						<li><i class="icofont icofont-ui-press"></i>15% ROI Monthly/100% 6 Months. </li>
						<li><i class="icofont icofont-ui-press"></i>Exclusive Investment Plan | Minimum Capital <span class="orange">$</span>1000.</li>
						<li><i class="icofont icofont-ui-press"></i>100% - 200% (Estimated Minimum) ROI 6 Months</li>
					</ul>
					<a href="invest" class="quote-btn mt-4">Learn More <i class="icofont icofont-caret-right"></i></a>
				</div>
				<!-- end col -->					
			</div>
			<!-- end row -->					
		</div>
    </section>

	<!-- START PROMO SECTION -->
    <section id="faq" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="row">
						<div class="col-12 text-left">
							<div class="section-title-2">
								<h3>Frequently Asked <span>questions</span></h3>
							</div>
						</div>
					</div>
					<!-- end section title -->
					
                    <!--Accordion Box-->
                    <ul class="accordion-box">
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What is Crypto Trading?</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <p>Trading generally is leveraging on currencies to increase your holdings or profit. In Crypto Trading, you buy certain coins paired against your portfolio to make profit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>Is Crypto Trading Legal?</div>
                            <div class="acc-content ">
                                <div class="content">
                                    <p>Crypto Trading is Legal, it is 'physically' impossible to ban cryptocurrency because anyone can get a crypto wallet on their device. There can be regulations such as the one they enforced by the Nigerian goverment not letting bank accounts do crypto related transactions but that is all. No Government anywhere has capacity to stop the cryptocurrency market.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What about the Trading with The Moon House?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Trading at The Moon House is done steadily and safely based on strategies provided by our experts.</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>What are your Investment Packages</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Our Investment packages are available with a minimum capital of $200, For more Information <a href="./invest" class="orange">Click Here</a></p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>Does the Moon House Accept Crypto Payment for Services?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>Yes the Moon House accepts USDT as payment for services and capital for investment.
									Other Cryptocurrency you may intend to pay with has to be exchanged for USDT before payment.	
									</p>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i contact The moon house?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <p>You can reach out to our representative via the Messenger icon.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--End Accordion Box-->	
				</div>
				<!-- end col -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="row">
						<div class="col-12 text-left">
							<div class="section-title-2">
								<h3>About <span>Us</span></h3>
							</div>
						</div>
					</div>
					<!-- end section title -->
					<div class="image-style-1 mb-4">
						<div class="image-style-wrapper">
							<div class="image-one"></div>
							<div class="image-two">
								<img src="assets/img/bg/promobg1.jpg" class="img-fluid" alt="">
							</div>
						</div>
					</div>
					<div class="promo-content">
						<h4>Who we are?</h4>
						<p>The Moon House is a brand commited to educating the world about Blockchain & Cryptocurrency, the activities that surround it and teaching how to profit greatly from it via Crypto Trading & Investment.</p>
						<a href="#about2" class="btn-style btn-filled mt-3">Read More <i class="icofont icofont-caret-right"></i></a>
						<!-- <div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="assets/img/bg/signature.png" class="img-fluid" alt="">--></div> 
					</div>	
				</div>
				<!-- end col -->				
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PROMO SECTION -->
	
	<!-- START CHOOSE US SECTION -->
    <section id="chooseus" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<!-- <h5>Bitcoin Legality</h5> -->
						<h3>Why Choose <span>The Moon House</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-8 col-md-8 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="row">	 
						<div class="col-lg-6 col-md-6 col-12 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-bill"></i>
								</div>
								<div class="single-wcus-text">
									<h5>Easy Trading</h5>
									<p>We make sure crypto trading concepts are well taught so as to make easy for our students to trade effeciently.</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-coins"></i>
								</div>
								<div class="single-wcus-text">
									<h5>Trading Strategy</h5>
									<p>Our Trading Experts have years of experience trading in the Forex and Crypto Market. We stand on their shoulders seeing as their strategies are effecient and profitable. </p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-5">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-money"></i>
								</div>
								<div class="single-wcus-text">
									<h5>Wealth Creation</h5>
									<p>We are looking to grow your wealth so we share our knowledge of Financial Intelligence and Wealth Creation</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->	 
						<div class="col-lg-6 col-md-6 col-12">
							<div class="single-wcus">
								<div class="single-wcus-icon">
									<i class="icofont icofont-ui-travel"></i>
								</div>
								<div class="single-wcus-text">
									<h5>Security Ensure</h5>
									<p> We always look to have your ROI paid promptly. This is because you can always trust that assets invested at The Moon House are well ensured.</p>
								</div>
							</div>
						</div>
						<!-- end single chooseus -->
					</div>
				</div>
				<!-- end col -->	 
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wcus-promo">
						<div class="single-wcus-promo-inner">
							<h3>We are ready to fly with you.</h3>
							<p>To the Moon! Our Daily Trading Signals guarantee steady and consistent profit.</p>
							<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="btn-style btn-border btn-border-2">Join Us Now</a>
						</div>
					</div>
				</div>
				<!-- end col -->	
			</div>		
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CHOOSE US SECTION -->	
	
	<!-- START COUNTER SECTION -->
    <section id="counter" class="section-padding overlay counter-section section-back-image-2" data-background="assets/img/bg/counterbg.jpg">
        <div class="container">
			<div class="row">	 
				<div class="col-lg-6 col-md-6 col-12">	 
					<div class="row text-center counter-wrapper">	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">5</h3>
								<p>Mentors</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">36</h3>
								<p>Trained Crypto Traders</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">3</h3>
								<p>Instructors</p>
							</div>							
						</div>
						<!-- end col -->	 
						<div class="col-lg-6 col-md-6 col-12 counter-wrapper-inner">
							<div class="single-counter">
								<h3 class="timer">33</h3>
								<p>Students</p>
							</div>							
						</div>
						<!-- end col -->
					</div>
				</div>
				<!-- end col -->	
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PROMO SECTION -->	
	
	<!-- START SERVICE SECTION -->
    <section id="service" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>What we do</h5>
						<h3>The Moon House <span>Services</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->	 
			<div class="services-slider owl-carousel owl-theme">
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="assets/img/service/1.jpg" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fab fa-gg"></i>
							</div>
							<div class="single-service-text">
								<h5>Crypto Trading</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>Cryptocurrency Trading involves observing coins/tokens via charts, this would aid in accurately speculating their price movements so as to properly make profit</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="assets/img/service/3.jpg" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fa fa-shekel-sign"></i>
							</div>
							<div class="single-service-text">
								<h5>Trading Signals</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>Trading Signals are suggestions for entering trades on a currency pair, usually delivered with a specific price and time by our experts.</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="assets/img/service/2.jpg" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fab fa-btc"></i>
							</div>
							<div class="single-service-text">
								<h5>Mentorship</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>We have our Mentors with years of Experience in the Crypto & Forex Trading Markets waiting to coach and guide you to making consistent profit in your trades.</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
				<div class="single-service-item mt-5">
					<div class="single-service">
						<div class="single-service-img">
							<img class="img-fluid" src="assets/img/service/4.jpg" alt="">
						</div>
						<div class="single-service-title">
							<div class="single-service-icon">
								<i class="fa fa-dollar-sign"></i>
							</div>
							<div class="single-service-text">
								<h5>Financial Consulting</h5>
							</div>
						</div>
						<div class="single-service-dec">
							<p>Financial consultants or advisors offer clients a big picture analysis of their finances. They break down different aspects of a client's financial life, including assets, expenses and income, and help them create a financial plan to reach different types of goals.</p>
						</div>	
					</div>							
				</div>
				<!-- end single service -->
			</div>
			<div class="row mt-5">
				<div class="col-12 text-center">
					<div class="serviceall-btn wow fadeInDown">
						<a href="#about2" class="js-scroll-trigger">Check All Services <i class="icofont icofont-long-arrow-right"></i></a>
					</div>
				</div>
			</div>	
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END SERVICE SECTION -->
	
	<!-- START TEAM SECTION -->
    <section id="team" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Our Instructors</h5>
						<h3>The Moon House <span>Experts</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->	 
			<div class="row text-center">
				<div class="team-slider owl-carousel owl-theme">
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="assets/img/team/faith.jpeg" alt="Watchman Faith Olatide Orisumibare">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="https://www.facebook.com/watchman.faith.7"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="https://twitter.com/faith_olatide"><i class="icofont icofont-social-twitter"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta watchman">
								<h4>Watchman Faith</h4>
								<span>The Moon House, Founder & Lead Instructor</span>
								<p>With years of sound expertise trading forex and cryptocurrency and also instructing, The Watchman offers his wealth of knowledge to lecture and teach Crypto Trading.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
					<div class="single-team-wrapper">
						<div class="single-team">
							<div class="single-team-img">
								<img class="img-fluid" src="assets/img/team/timmy.jpg" alt="Adefeyitimi Adeyeloja">
								<div class="single-team-social">
									<ul>
									   <li><a class="sicon1" href="https://facebook.com/adefeyitimi1123"><i class="icofont icofont-social-facebook"></i></a></li>
									   <li><a class="sicon2" href="https://twitter.com/timmyIsANerd_/"><i class="icofont icofont-social-twitter"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="single-team-meta">
								<h4>Adefeyitimi Adeyeloja</h4>
								<span>The Moon House, Tech Lead & Instructor</span>
								<p>Brilliant Web Developer, Crypto Enthusiast & Trader with great vision, often shares immense insight on the subject of money on his social media.</p>
							</div>	
						</div>							
					</div>
					<!-- end col -->
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TEAM SECTION -->
	
	
	
	<!-- START PRICE SECTION -->
    <section id="price" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>The Moon House Crypto Packages</h5>
						<h3>Our <span>Pricing</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">100</span>/yr</span>
							<h5>Basic</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul>
									<li><i class="icofont icofont-check-alt"></i> Crypto Trading Concepts</li>
									<li><i class="icofont icofont-check-alt"></i> 1yr Daily Trading Signals</li>								<li><i class="icofont icofont-check-alt"></i> Mentorship</li>
									<li><i class="icofont icofont-close-line"></i> Technical Analysis</li>
									<li><i class="icofont icofont-close-line"></i> Trading Strategies</li>
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="mt-3 d-block text-center rounded-0">Buy It Now</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">150</span>life</span>
							<h5>Advanced</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul>
									<li><i class="icofont icofont-check-alt"></i> Crypto Trading Concepts</li>
									<li><i class="icofont icofont-check-alt"></i> Advanced Trading Concepts</li>
									<li><i class="icofont icofont-check-alt"></i> Trading Strategies</li>
									<li><i class="icofont icofont-check-alt"></i> 1yr Daily Trading Signals</li>				<li><i class="icofont icofont-check-alt"></i> Mentorship</li>
									<li><i class="icofont icofont-check-alt"></i> Technical Analysis</li>
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="mt-3 d-block text-center rounded-0">Buy It Now</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">250</span>/life</span>
							<h5>Basic Lifetime</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul>
									<li><i class="icofont icofont-check-alt"></i> Crypto Trading Concepts</li>
									<li><i class="icofont icofont-check-alt"></i> Trading Strategies</li>
									<li><i class="icofont icofont-check-alt"></i> Lifetime Daily Trading Signals</li>					<li><i class="icofont icofont-check-alt"></i> Mentorship</li>
									<li><i class="icofont icofont-close-line"></i> Technical Analysis</li>
									<li><i class="icofont icofont-close-line"></i> Trading Strategies</li>
									<li><i class="icofont icofont-close-line"></i> Advanced Trading Concepts</li>
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target="_blank" class="mt-3 d-block text-center rounded-0">Buy It Now</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PRICE SECTION -->	
	<!-- START TESTIMONIAL SECTION -->
    <section id="testimonial" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Our achievements</h5>
						<h3>Client <span>Feedback</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="testimonial-wrapper bg-gray-2 section-padding">
				<div class="row">
					<div class="col-lg-12 mx-lg-auto mx-md-auto mx-0 text-center">
						<div class="testimonial-slider owl-carousel owl-theme">
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<!-- <img class="img-fluid rounded-circle" src="assets/img/team/person1.jpg" alt=""> -->
								</div>
								<div class="single-testimonial-content">
									<p>The Sessions have been really impactful, I've learned a lot in the space of few days of training, Thanks to our Mentor and Coach for always taking the time to put us through.</p>
								</div>
								<div class="single-testimonial-meta">
									<p>Dekola</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<!-- <img class="img-fluid rounded-circle" src="assets/img/team/person2.jpg" alt=""> -->
								</div>
								<div class="single-testimonial-content">
									<p>Every session has been wonderful, albeit online it has been really effective for learning.</p>
								</div>
								<div class="single-testimonial-meta">
									<p>Falade Timilehin Ifedayo</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<!-- <img class="img-fluid rounded-circle" src="assets/img/team/person2.jpg" alt=""> -->
								</div>
								<div class="single-testimonial-content">
									<p>Studying Crypto Trading at the Academy has been an awesome learning opportunity and a real eye opener</p>
								</div>
								<div class="single-testimonial-meta">
									<p>Olatubora Felix</p>
								</div>
							</div>
							<!-- end single testimonial -->
							<div class="single-testimonial">
								<div class="single-testimonial-image">
									<!-- <img class="img-fluid rounded-circle" src="assets/img/team/person2.jpg" alt=""> -->
								</div>
								<div class="single-testimonial-content">
									<p>The Classes are superb and the explanations are really easy to understand, learning about coins worth investing, how to enter trades and take profit has been really exciting.</p>
								</div>
								<div class="single-testimonial-meta">
									<p>Adebayo Emmanuel</p>
								</div>
							</div>
							<!-- end single testimonial -->
						</div>
					</div>
				</div>
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END TESTIMONIAL SECTION -->
	
	<!-- START AFFILIATE SECTION -->
    <section id="affiliate" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>Promote The Moon House</h5>
						<h3>Get <span>Paid</h3><span></h3>
						<a href="https://wa.me/message/DBXRWT73UKTHA1" target="_blank"><img src="./assets/img/mhr.jpg" alt="Promote The Moon House and Get Paid" class="img-fluid refer-flyer"></a>
						<h5 class="my-2">Apply to become an Affiliate.</h5>
						<a href="https://o352godxqsb.typeform.com/to/Vu8fkvhd" target="_blank" class="btn-style btn-border btn-border-2">Apply Now </a>
					</div>
				</div>
			</div>
			<!-- end section title -->
			
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END AFFILIATE SECTION -->
	
	<!-- START CALLTOACTION SECTION -->
	<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="calltoaction-two-wrap">
						<h4>Need Our Services?</h4>
						<p>We are always ready to respond promptly.</p>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 text-lg-right text-md-right text-sm-left text-left">
					<a href="https://o352godxqsb.typeform.com/to/CaO8qdNm" target ="_blank"class="btn-style btn-border btn-border-3">Contact Us</a>
				</div>
				<!-- end col -->
			</div>
			<!-- end row-->
		</div>
	</section>
    <!-- END CALLTOACTION SECTION -->
	

	<!-- Footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- Messenger Chat Plugin Code -->
    <%- include('./partials/plugin.ejs') %> 
	<!-- Static Javascript -->
	<%- include('./partials/scripts.ejs') %> 
</body>


<!-- index-4.html 04:54  -->
</html>