<!DOCTYPE html>
<html lang="zxx">

<!-- Head Partial -->
<%- include('./partials/head.ejs') %> 

<body class="home-4">

	<!-- START PRELOADER -->
	<div id="page-preloader">
		<div class="theme-loader">The Moon House</div>
	</div>
	<!-- END PRELOADER --> 
	
	<!-- NAV SECTION -->
	<%- include('./partials/nav.ejs') %> 
	
	<!-- START PAGE BANNER AND BREADCRUMBS -->
	<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="assets/img/bg/slide1.jpg">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Invest Today for a comfortable tomorrow.</h2>
							<!-- <p>Our Experts </p> -->
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Invest</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->

	<!-- SECTION -->
	<section id="promondex2" class="section-padding bg-gray">
        <div class="container">	 
			<div class="row mb-5">
				<div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5 faq-page-into">
					<h6>Guranteed <span class="orange">ROI</span></h6>
					<h3>Secure &amp; easy way to Invest in Cryptocurrency</h3>
					<p>Imagine not having to wait for a paycheck every month. Would you not love not having to struggle to pay bills? Let your money work for you! We know how to take proper and safe advantage of the volatility of the Crypto Market, It is why The Moon House is offering attractive returns on your investments with us.</p>
					<a href="#chhoseus" class="quote-btn mt-4">Learn More <i class="icofont icofont-caret-right"></i></a>
				</div>
				<!-- end col -->
				<div class="col-lg-6 col-md-6 col-sm-12 col-12">
					<img class="img-fluid" src="assets/img/blog/1.jpg" alt="">
				</div>
				<!-- end col -->					
			</div>
			<!-- end row -->					
		</div>
    </section>
	<!-- SECTION -->

	<%- include('./partials/roicalculator.ejs'); %> 
	<!--How it Works Section-->
	<section id="hworks" class="section-padding bg-gray section-back-image overlay" data-background="assets/img/bg/processbg.jpg" style="background-image: url(&quot;assets/img/bg/processbg.jpg&quot;);">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<!-- <h5 class="text-white">H work</h5> -->
						<h3 class="text-white">Work <span>Process</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center">
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-futbol"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>Trading Strategy</h5>
							<p>Growth when it comes to cryptocurrencies tends to be explosive, it is why we have our experts analyse and study the market frequently before entering trades.</p>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-users"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>Transparency</h5>
							<p>Our Exclusive investment plan offers transparency seeing as your portfolio is entirely open to you to track your investments to assure steady growth.</p>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wprocess">
						<div class="single-wprocess-icon">
							<i class="fa fa-money-bill-alt"></i>
						</div>
						<div class="single-wprocess-text">
							<h5>Pay Out</h5>
							<p>Either VIP or Exclusive receiving your ROI is easy and would be paid promptly depending on which investment plan you selected. </p>
						</div>
					</div>
				</div>
				<!-- end col -->	
			</div>
        </div>
        <!--- END CONTAINER -->
    </section>
	<!--- END CONTAINER -->

	<!-- WHY INVEST-->
	<section id="chhoseus" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>The Moon House</h5>
						<h3>Why Invest With <span>Us</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">	 
				<div class="col-lg-4 col-md-4 col-12 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-bill"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Incredible Returns</h5>
							<p>We are offering to increase your income by paying as much as ROI 15% every Month for 6 Months.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-coins"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Simplicity.</h5>
							<p>Investing in Cryptocurrency is easy in comparison to stocks or bonds, the process to it is less time consuming and you can invest as little as $100.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-money"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Trade For Me System</h5>
							<p>Our Exclusive Investment Plan offers the option that you create and fund your trading account by yourself and pay monthly fees for management, you would only give us access to manage and trade assets for you as the terms of agreements states.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-ui-travel"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Security Ensure</h5>
							<p>We always look to have your ROI paid promptly. This is because you can always trust that assets invested at The Moon House are well ensured.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->	 
				<div class="col-lg-4 col-md-4 col-12">
					<div class="single-wcus">
						<div class="single-wcus-icon">
							<i class="icofont icofont-briefcase"></i>
						</div>
						<div class="single-wcus-text">
							<h5>Legal Security</h5>
							<p>Our Terms of Agreement will have you know that we have your best interest at heart when it comes to your money, an MOU will be made available and reviewed before getting started funding your investment portfolio with us.</p>
						</div>
					</div>
				</div>
				<!-- end single chooseus -->
			</div>		
        </div>
        <!--- END CONTAINER -->
    </section>
	<!-- WHY INVEST-->
	
	<!-- SECTION -->
	<!-- <section id="info">
		<div class="auto-container">
			<div class="row">
				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					<h3>We are here to help you invest in Cryptocurrency <span>more wisely.</span> </h3>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
					<p></p>
				</div>
			</div>
		</div>
	</section> -->
	<!-- SECTION -->
	<section id="wallet" class="section-padding">
        <div class="container">	 
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>How To Get Started</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="stepwizard">
						<div class="stepwizard-row">
							<div class="stepwizard-step">
								<button type="button" class="active btn btn-circle"><i class="fab fa-wpforms"></i></button>
								<h6>Fill the form</h6>
								<p>Fill Up Our Sign Up Form and indicate interest to invest in The Moon House</p>
							</div>
							<div class="stepwizard-step">
								<button type="button" class="btn btn-circle"><i class="fa fa-list-alt"></i></button>
								<h6>Portfolio Creation</h6>
								<p>Depending on your chosen investment plan our representative will contact you to help create your portfolio</p>
							</div>
							<div class="stepwizard-step">
								<button type="button" class="btn btn-circle" disabled="disabled"><i class="fab fa-opencart"></i></button>
								<h6>Invest</h6>
								<p>Make a deposit into your newly created portfolio and await your ROI.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
			<div class="row">
				<div class="col-12 text-center">
					<a href="/invest/login" target="_blank" class="quote-btn">Get Started Now</a>
				</div>
			</div>	 
        </div>
        <!--- END CONTAINER -->
    </section>

	

	<!-- START PRICE SECTION -->
    <section id="price" class="section-padding bg-gray">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>The Moon House Investment Plans</h5>
						<h3>VIP <span>Package</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row">
				<div class="col-lg-4 mx-auto col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">100</span></span>
							<h5>Minimum</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul class="text-center">
									<li>15% ROI Paid Monthly</li>
									<li>Duration : 6 Months</li>
									<li>Capital Returned 6th Month</li>
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="/invest/signup" target="_blank" class="mt-3 d-block text-center rounded-0">Invest</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 mx-auto col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">100</span></span>
							<h5>Minimum</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul class="text-center">
									<li>100% ROI</li>
									<li>Paid after 6 Months</li>
									<li>Duration: 6 Months</li>
									<li>Capital Returned 6th Month</li>
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="/invest/signup" target="_blank" class="mt-3 d-block text-center rounded-0">Invest</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- new row-->
			<div class="row mt-2">
				<div class="col-12 text-center">
					<div class="section-title">
						<h3>Exclusive <span>Package</span></h3>
					</div>
				</div>
				<div class="col-lg-4 mx-auto col-md-4 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-pricing">
						<div class="single-pricing-head text-center">
							<span class="price"><sup>$</sup><span class="price-digit">1000</span></span>
							<h5>Minimum</h5>
						</div>
						<div class="single-pricing-body">
							<div class="single-pricing-list">
								<ul class="text-center">
									<li>Trade For Me Option Available</li>
									<li>Self Funded Account will incur Management costs ($30/month).</li>
									<li>Minimum : 100 - 200% ROI</li>
									<li>Target : 1000% ROI </li>
									<li>Profit to be Split 50/50</li>
									<li>Paid after 6 Months</li>
									<!-- <li>Capital Returned 6th Month</li> -->
								</ul>
							</div>
						</div>
						<div class="single-pricing-button">
							<a href="/invest/signup" target="_blank" class="mt-3 d-block text-center rounded-0">Invest</a>
						</div>	
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- new row-->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END PRICE SECTION -->	
	 
	<!-- START CALLTOACTION SECTION -->
	<section id="calltoaction" class="calltoaction-padding section-padding bg-theme">
		<div class="auto-container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
					<div class="calltoaction-two-wrap">
						<h4>Need Our Services?</h4>
						<p>We are always ready to respond promptly.</p>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-12 text-lg-right text-md-right text-sm-left text-left">
					<a href="/" target ="_blank"class="btn-style btn-border btn-border-3">Contact Us</a>
				</div>
				<!-- end col -->
			</div>
			<!-- end row-->
		</div>
	</section>
    <!-- END CALLTOACTION SECTION -->
	
    <!-- Footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- Messenger Chat Plugin Code -->
    <%- include('./partials/plugin.ejs') %> 
	<!-- Static Javascript -->
	<%- include('./partials/scripts.ejs') %> 
	<!--Custom Javascript-->
	<script src="./assets/js/custom.js"></script>
</body>


<!-- index-4.html 04:54  -->
</html>