<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head Tag -->
<%- include('../partials/dashboard/head.ejs') %> 

<body class="dark-edition">
    <!-- Sidebar -->
    <%- include('../partials/dashboard/sidebar.ejs') %> 
    <!-- Sidebar -->
    <div class="main-panel">
      <!-- Navbar -->
      <%- include('../partials/dashboard/nav.ejs') %> 
      <!-- Navbar -->   
      <!-- Body --> 
        <!-- Investment Form -->
        <div class="container" id="investmentform" style="margin-top:6em;">
            <div class="row">
              <a href="/dashboard" type="button" class="btn btn-info btn-outline btn-floating" id="back_to_dashboard_investment_form">
                <i class="material-icons">
                  arrow_back
                  </i>
              </a>
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 mx-auto mt-3" id="vip_package_section">
                    <% if(user.investorAccount && user.investorAccount[0] && user.investorAccount[0].accountBalance < 100){ %>
                      <div class="text-center">
                        <p class="text-warning text-bold">Insufficient Balance</p>
                        <p class="text-white">Please fund your account before attempting to make this Investment. <br>
                        You need a minimum of <span class="text-warning text-bold">$100</span> in your account to invest in this plan.
                        </p>
                        <p class="text-white">Your current balance is <span class="text-warning text-bold">$<% if (user.investorAccount && user.investorAccount[0] && user.investorAccount[0].accountBalance) { %><%= user.investorAccount[0].accountBalance %><% } else { %>0<% } %></span> </p>
                      </div>
                      <% } if(user.investorAccount && user.investorAccount[0] && user.investorAccount[0].accountBalance > 1000) { %>
                      <div>
                      <p class="text-white">This Investment package is only available for capital less than $1000</p>
                      <% } if(user.investorAccount[0].accountBalance >= 100)  { %>
                        <div class="col-md-4 mx-auto">
                          <img src="/dashboard/assets/img/crypto.jpg" alt="" class="img-fluid img-rounded vip_opt_img">
                          <p class="text-center text-white mt-3">This investment plan offers option to get paid either monthly or at the end of the investment duration.</p>
                        </div>
                        <form action="/dashboard/invest/vip" id="investmentConfirmFillForm">
                          <div class="row">
                            <div class="col-md-3 mx-auto">
                              <div class="custom-control custom-radio mb-2">
                                <input type="radio" class="custom-control-input" id="monthlyPayOption" name="vipPayOption" value="15% Monthly" required checked aria-checked="true">
                                <label class="custom-control-label" for="monthlyPayOption">15% Monthly</label>
                              </div>
                              <div class="custom-control custom-radio mb-2">
                                <input type="radio" class="custom-control-input" id="6thMonthOption" name="vipPayOption" value="100% (6th Month)" required>
                                <label class="custom-control-label" for="6thMonthOption">100% (6th Month)</label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group bmd-form-group col-md-3 mx-auto">
                            <label for="amount" class="bmd-label-floating">Input Amount</label>
                            <input type="number" name="amount" id="amount" min="100" value="" class="form-control">
                            <button class="btn btn-info btn-block" id="" type="button" data-toggle="modal" data-target="#exampleModal">Invest</button>
                          </div>
                          
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm Investment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p id="vipInvestConfirmationMessage">Confirm that you are about to invest "amount" to get paid "percentage per month"/"percentage 6th Month"</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info" id="submitInvestment">Invest</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        </form>
                      <% }%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Investment Form -->
      <!-- Body -->
    </div>
      
<%- include('../partials/dashboard/scripts.ejs') %> 
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();
    });
  </script>
  <script src="../dashboard/assets/js/custom.js"></script>
</body>

</html>