<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head Tag -->
<%- include('../partials/dashboard/head.ejs') %> 

<body class="dark-edition">
    <!-- Sidebar -->
    <%- include('../partials/dashboard/sidebar.ejs') %> 
    <!-- Sidebar -->
    <div class="main-panel">
      <!-- Navbar -->
      <%- include('../partials/dashboard/nav.ejs') %> 
      <!-- Navbar -->   
      <!-- Body --> 
      <div class="container" style="margin-top:6em;" id="main_dashboard">
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">account_balance</i>
                </div>
                <p class="card-category">Available Balance</p>
                <h3 class="card-title">$<span><%= user.investorAccount[0].accountBalance %> </span>
                  <!-- <small>GB</small> -->
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-warning">payment</i>
                  <a class="warning-link">Withdraw</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">payments</i>
                </div>
                <p class="card-category">Paid ROI</p>
                <h3 class="card-title">$<span><%= user.investorAccount[0].ROI.accountBalance %></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-success">date_range</i>
                  <a href="/dashboard/history#investment_table" class="success-link">ROI Payout Information</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">paid</i>
                </div>
                <p class="card-category">Invested</p>
                <h3 class="card-title">$<span><%= user.investorAccount[0].Invested.accountBalance %></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-info">store</i>
                  <a href="/dashboard/history#investment_table" class="info-link">Active Amount Invested</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">group</i>
                </div>
                <p class="card-category">Referal Earnings</p>
                <h3 class="card-title">$<span><%= user.investorAccount[0].Referal.accountBalance %></h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-primary">paid</i>
                  <a class="primary-link" onclick="md.showNotificationRefer('bottom','right')" style="cursor: pointer;">Refer and Earn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <style>
        /* Custom CSS */                
        .invest-choice-box{
          /* cursor: pointer; */
          width:100%;
          border-radius: 10px;
          background: #333;
          transition:0.5s;
          text-align: center;
          box-shadow: 0px 1px 30px -5px #000;
        }
        .invest-choice-box h4{
          font-weight: bold;
        }
        .invest-choice-box .text{
          text-align: left;
          padding: 0 10px;
        }
        .invest-choice-box h4{
          font-size: 14px;
        }
        .invest-choice-box p{
          font-size:12px;
          margin-bottom: 0px;
        }
        .invest-choice-box img{
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .text-bold{
          font-weight: 600;
        }
        </style>
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <div class="card">
              <div class="card-header card-header-warning">
                <h3 class="card-title">Available Services</h3>
                <p class="card-category">All Investment packages in one place.</p>
              </div>
              <div class="row mt-2" id="packages_slot">
                <!-- <div class="col-md-12 text-center">
                  <h3 class="text-white">Investment Packages</h3>
                </div> -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">   
                  <div class="card-body">
                    <div class="invest-choice-box" style="min-height:306.183px;">
                      <img src="/assets/img/service/2.jpg" class="img-fluid" alt="">
                      <div class="text">
                        <h4 class='text-center text-white mt-2' id="vip-package">VIP PACKAGE</h4>
                        <p class="text-warning">ROI : <span class="text-bold">15% Monthly/100% 6th Month</span> </p>
                        <p class="text-white">Min. Capital : <span class="text-warning">$100</span></p>
                        <p class="text-white">Duration: <span class="text-warning">6 Months</span></p>
                      </div>    
                      <button type="button" class="text-center btn btn-warning btn-sm" data-mdb-ripple-color="dark" id="vip_package_option"><i class="material-icons">attach_money</i> Invest Now</button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">   
                  <div class="card-body">
                    <div class="invest-choice-box">
                      <img src="/assets/img/service/3.jpg" class="img-fluid" alt="">
                      <div class="text">
                        <h4 class='text-center text-white mt-2' id="vip-package">EXCLUSIVE PACKAGE</h4>
                        <p class="text-warning">ROI Estimate: <span class="text-bold">100% - 200% </span> </p>
                        <p class="text-warning">Target ROI: <span class="text-bold">1000% </span></p>
                        <p class="text-white">Min. Capital : <span class="text-warning">$1000</span></p>
                        <p class="text-white">Duration: <span class="text-warning">6 Months</span></p>
                      </div>    
                      <button type="button" class="text-center my-2 btn btn-warning btn-sm" data-mdb-ripple-color="dark" id="exclusive_package_option"> <i class="material-icons">attach_money</i> Invest Now</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 mx-auto">
            <div class="card">
              <div class="card-header card-header-info">
                <h4>Quick Actions</h4>
              </div>
              <div class="card-body text-center">
                <button class="btn btn-info text-center btn-block my-3" type="button" id="quick_deposit">Quick Deposit</button>
                <a href="/dashboard/notifications" class="btn btn-info text-center btn-block my-3" type="button">Notifications</a>
                <button class="btn btn-info text-center btn-block my-3" type="button" id="roi_calculator_btn">ROI Calculator</button>
                <button class="btn btn-info text-center btn-block my-3" type="button">Reports</button>
                <button class="btn btn-info text-center btn-block my-3" type="button">Support</button>
              </div>
            </div>
          </div>
      </div>
      <!-- Body -->
      <!-- Quick Deposit  -->
      <style>
        #deposit_tabs h4{
          transition: 0.8s;
        }
        #deposit_tabs h4:hover{
          color:#fff;
          cursor:pointer;
          font-style: underline;
        }
        .tab-active{
          color:#fff;
          transition: 0.8s;
        }
      </style>
      
      <!-- Quick Deposit  -->
          </div>
          <div class="container" id="dashboard_deposit" style="margin-top:6em;z-index:999;">
            <div class="row"> 
            <% if(user.userContactInformation.length == 0) { %>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mt-5">
                <div class="text-center">
                  <h3 class="text-warning text-bold">Please verify your account<br> before attempting to make a deposit</h3>
                  <a href="/dashboard/profile" class="btn btn-warning">Verify</a>
                </div>
              </div>
            <% } else { %> 
              <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <h3 class="text-white">Add Cash <i class="material-icons text-white">payment</i></h3>
                <p class="text-white"><%= user.firstName %> Fund your account from this section</p>
                <button type="button" class="btn btn-info btn-floating" id="back_to_dashboard">
                  <i class="material-icons">
                    arrow_back
                    </i>
                </button>
                <div class="container mt-4" id="deposit_tabs">
                  <div class="row">
                    <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                      <h4 class="text-center tab-active" id="card_deposit_option">Card Deposit</h4>
                    </div> -->
                    <div class="col-md-6 mx-auto col-sm-6 col-xs-6">
                      <h3 class="text-center tab-active" id="usdt_deposit_option text-bold">USDT Deposit (TRC20 Wallet)</h3>
                    </div>
                  </div>
      
                  <div class="row" id="deposit_option">
                    <!-- <div class="col-md-12 mt-5" id="atm_deposit">
                      <div class="col-md-3 mx-auto">
                        <form action="/user/deposit" id="atm_deposit_form">
                          <div class="form-group bmd-form-group">
                            <label for="deposit" class="bmd-label-floating">Amount ($)</label>
                            <input type="number" name='deposit' id="deposit" class="form-control" min="0" value="" required>
                            <button class="btn btn-info btn-block mt-3" type="submit" id="deposit_button">Deposit</button>
                          </div>
                        </form>
                      </div>
                    </div> -->
                    <div class="col-md-12 text-center mt-5" id="usdt_qr">
                      <div class="col-md-3 mx-auto">
                        <h5 class="text-white">Make your transfer to this wallet address, Scan QR Code</h5>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <% } %> 
          </div>
          </div>
          <!-- Quick Deposit -->
          <!-- ROI Calculator -->
          <div class="container" id="roi_calculator_section" style="margin-top:6em;">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <h3 class="text-white">ROI Calculator <i class="material-icons text-white">calculator</i></h3>
                <button type="button" class="btn btn-info btn-floating" id="back_to_dashboard_cal">
                  <i class="material-icons">
                    arrow_back
                    </i>
                </button>
                <!-- <div class="row mt-5">
                  <div class="col-md-6 mx-auto">
                    <h3 class="text-center text-white mb-3">Choose Your Prefered Investment Package</h3>
                    <div id="optionsbox">
                      <div class="investmentOptionBox bg-primary text-white">VIP Package</div>
                      <div class="investmentOptionBox bg-primary text-white">Exclusive Package</div>
                    </div>
                  </div>
                </div> -->
                <form id="dashboard_roi_calculator" class="mt-3">
                  <div class="row">
                    <div class="col-md-3 mx-auto">
                      <h4 class="text-white text-center">Input amount you are looking to invest</h4>
                      <div class="form-group bmd-form-group mt-3">
                        <label class="bmd-label-floating">Amount($)</label>
                        <input type="number" min='0' name="investmentCapital" id="investmentCapital" class="form-control" required>
                        <button class="btn btn-warning btn-block" type="submit">Calculate</button>
                      </div>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
            <div class="row" id="roiResultContainer">
              <div class="col-md-4 text-center mx-auto">                  
                <h3 class="text-white">VIP Package</h3>    
                <h4 class="text-warning text-bold">Monthly Returns</h4>
                <p class="text-bold text-white">Capital : $100 
                </p>
                <p class="text-white">
                  ROI: $15 every month. <br>
                  (6 Months) Your ROI + Capital : $190
                </p>

                <h4 class="text-white text-bold">6th Month Payment Option</h4>

                <p class=" text-white">100% ROI : $100 <br>
                Your ROI + Capital : $200</p>
              </div>
              <div class="col-md-4 text-center mx-auto">
                <h3 class="text-white">Exclusive Package</h3>    
                <h4 class="text-warning text-bold">6th Month Payment</h4>
                <p class="text-white">Minimum ROI Estimate 100 - 200% : 1000 & 2000<br> ROI Target : 1000%</p>

                <p class="text-white">Terms of this investment state that the profit from all the trading done within the duration will be split 50/50.
                  Contact Us for inquiries about this investment plan.</p>
              </div>
            </div>
          </div>
          <!-- ROI Calculator -->
          <!-- Investment Form -->
          <div class="container" id="investmentform" style="margin-top:6em;">
            <div class="row">
              <button type="button" class="btn btn-info btn-outline btn-floating" id="back_to_dashboard_investment_form">
                <i class="material-icons">
                  arrow_back
                  </i>
              </button>
              <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 mx-auto mt-3" id="vip_package_section">
                    <% if(user.investorAccount[0].accountBalance < 100){ %>
                      <div class="text-center">
                        <p class="text-warning text-bold">Insufficient Balance</p>
                        <p class="text-white">Please fund your account before attempting to make this Investment. <br>
                        You need a minimum of <span class="text-warning text-bold">$100</span> in your account to invest in this plan.
                        </p>
                        <p class="text-white">Your current balance is <span class="text-warning text-bold">$<%= user.investorAccount[0].accountBalance %></span> </p>
                      </div>
                      <% } if(user.investorAccount[0].accountBalance > 1000) { %>
                      <div>
                      <p class="text-white">This Investment package is only available for capital less than $1000</p>
                      <% } if(user.investorAccount[0].accountBalance >= 100)  { %>
                        <div class="col-md-4 mx-auto">
                          <img src="/dashboard/assets/img/crypto.jpg" alt="" class="img-fluid img-rounded vip_opt_img">
                          <p class="text-center text-white mt-3">This investment plan offers option to get paid either monthly or at the end of the investment duration.</p>
                        </div>
                        <form action="/dashboard/invest/vip" id="investmentConfirmFillForm">
                          <div class="row">
                            <div class="col-md-3 mx-auto">
                              <div class="custom-control custom-radio mb-2">
                                <input type="radio" class="custom-control-input" id="monthlyPayOption" name="vipPayOption" value="15% Monthly" required checked aria-checked="true">
                                <label class="custom-control-label" for="monthlyPayOption">15% Monthly</label>
                              </div>
                              <div class="custom-control custom-radio mb-2">
                                <input type="radio" class="custom-control-input" id="6thMonthOption" name="vipPayOption" value="100% (6th Month)" required>
                                <label class="custom-control-label" for="6thMonthOption">100% (6th Month)</label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group bmd-form-group col-md-3 mx-auto">
                            <label for="amount" class="bmd-label-floating">Input Amount</label>
                            <input type="number" name="amount" id="amount" min="100" class="form-control">
                            <button class="btn btn-info btn-block" id="" type="button" data-toggle="modal" data-target="#exampleModal">Invest</button>
                          </div>
                          
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirm Investment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p id="vipInvestConfirmationMessage">Confirm that you are about to invest "amount" to get paid "percentage per month"/"percentage 6th Month"</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info" id="submitInvestment">Invest</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        </form>
                      <% }%>
                  </div>
                  <div class="col-lg-12 col-md-12 mx-auto mt-5" id="exclusive_package_section">
                    <% if(user.investorAccount[0].accountBalance < 1000 ){ %>
                      <div class="text-center">
                        <p class="text-warning text-bold">Insufficient Balance</p>
                        <p class="text-white">Please fund your account before attempting to make this Investment. <br>
                        You need a minimum of <span class="text-warning text-bold">$1000</span> in your account to invest in this plan.
                        </p>
                        <p class="text-white">Your current balance is <span class="text-warning text-bold">$<%= user.investorAccount[0].accountBalance %></span> </p>
                      </div>
                      <% } if(user.investorAccount[0].accountBalance >= 1000)  { %>

                      <p>The Terms of this investment</p>
                      <form action="">
                        <label for="">Input Amount</label>
                      </form>
                      <% }%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Investment Form -->
        </div>
    </div>
      
<%- include('../partials/dashboard/scripts.ejs') %> 
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
  <!-- Dashboard Structure -->
  <script>
    $(document).ready(function(){

      // Hide Deposit Section
      $("#dashboard_deposit").hide();

      // Open Deposit Section
      $("#quick_deposit").click(function(){
        $("#main_dashboard").fadeOut(500);
        $("#dashboard_deposit").fadeIn(500);
      })

      // Back to Main Dashboard Button
      $("#back_to_dashboard").click(function(){
        $("#dashboard_deposit").fadeOut(500);
        $("#main_dashboard").fadeIn(500);
      });

      let $dashboard = $("#main_dashboard");

      // Deposit Option Toggle
      // $('#usdt_qr').hide();
      // $('#card_deposit_option').click(function(){
      //   // Switch Active Tab Classes
      //   $('#card_deposit_option').addClass('tab-active');
      //   $('#usdt_deposit_option').removeClass('tab-active');

      //   // Hide Crypto Deposit Option
      //   $('#usdt_qr').hide(500);
      //   $('#atm_deposit').show(500);
      // })

      // $('#usdt_deposit_option').click(function(){
      //   // Switch Active Tab Classes
      //   $('#usdt_deposit_option').addClass('tab-active');
      //   $('#card_deposit_option').removeClass('tab-active');

      //   // Hide Crypto Deposit Option
      //   $('#atm_deposit').hide(500);
      //   $('#usdt_qr').show(500);
      // })
      // Investment Form Section 
      let $investmentForm = $('#investmentform');
      let $vipOption = $('#vip_package_option');
      let $exclusiveOption = $('#exclusive_package_option');
      let $vipSection = $('#vip_package_section');
      let $exclusiveSection = $('#exclusive_package_section');
      let $returntoDash = $('#back_to_dashboard_investment_form');

      $investmentForm.hide()
      $vipSection.hide();
      $exclusiveSection.hide();
      // When VIP Option Clicked
      $vipOption.click(()=>{
        $dashboard.fadeOut(400);
        $investmentForm.fadeIn(500);
        $exclusiveSection.hide();

        $vipSection.fadeIn(500);
      })
      // When Exclusive Option Clicked
      $exclusiveOption.click(()=>{
        $dashboard.fadeOut(400);
        $investmentForm.fadeIn(500);
        $vipSection.hide();


        $exclusiveSection.fadeIn(500);
      })
      // Return to Dashboard
      $returntoDash.click(()=>{
        $investmentForm.fadeOut(400);

        $dashboard.fadeIn(500);

      })
      // Investment Form 
      let $vipForm = $('#investmentConfirmFillForm');
      let $15PercentOption = $('#monthlyPayOption');
      let $amount = $('#amount');
      let $100PercentOption = $('#6thMonthOption');
      let $vipConfirmInvest = $('#vipInvestConfirmationMessage');
      
      $amount.on('change',function(){
        $vipConfirmInvest.html(
          `

          `
        )
      })




      // ROI Calculator
      let $roicalculator = $('#roi_calculator_section');
      let $roicalculatorBtnShow = $('#roi_calculator_btn');
      let $closeroicalculator = $('#back_to_dashboard_cal');
      let $calulatorForm = $('#dashboard_roi_calculator');

      // Hide Calculator
      $roicalculator.hide();
      // $calulatorForm.hide();
      $roicalculatorBtnShow.click(function(){
        $dashboard.fadeOut(500);
        $roicalculator.fadeIn(800);
      });
      $closeroicalculator.click(function(){
        $dashboard.fadeIn(800);
        $roicalculator.fadeOut(500);
      });


      // Calculator Logic
      $calulatorForm.submit((e)=>{
        e.preventDefault();
        let $investmentCapital = $('investmentCapital').val();


      })


      // Available Services

    });
  </script>
</body>

</html>