<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<!-- Head Tag -->
<%- include('../partials/dashboard/head.ejs') %>

  <body class="dark-edition">
    <!-- Sidebar -->
    <%- include('../partials/dashboard/sidebar.ejs') %>
      <!-- Sidebar -->
      <div class="main-panel">
        <!-- Navbar -->
        <%- include('../partials/dashboard/nav.ejs') %>
          <!-- Navbar -->

          <% if(user.userContactInformation.length>0){ %>
            <div class="container" style="margin-top:6em">
              <div class="row">
                <div class="col-md-5 mx-auto">
                  <div class="card card-profile">
                    <span class="material-icons text-success mt-4">
                      verified
                    </span>
                    <!-- <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="../assets/img/faces/marc.jpg">
                  </a>
                  
                </div> -->
                    <div class="card-body">
                      <h6 class="card-category">Verified Investor @Xionvest</h6>
                      <h4 class="card-title">
                        <%= user.firstName %>
                          <%= user.lastName %>
                      </h4>
                      <p class="card-description">
                      <p class="text-white">
                        <%= user.email %>
                      </p>
                      <p class="text-white">
                        <%= user.userContactInformation[0].phoneNumber %>
                      </p>

                      </p>
                      <!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } else { %>

              <div class="container" style="margin-top: 6em;">
                <div class="row">
                  <div class="col-md-8 col-sm-12">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">Complete Profile</h4>
                        <p class="card-category">Verify your account by providing the following information</p>
                      </div>
                      <div class="card-body">
                        <form method="POST" action="/dashboard/edituserkycData">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 mt-3">
                              <h5 class="text-white">Contact Information</h5>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">
                                  <%= user.firstName %>
                                </label>
                                <input type="text" class="form-control" disabled="">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">
                                  <%= user.lastName %>
                                </label>
                                <input type="text" class="form-control" disabled="">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">
                                  <%= user.email %>
                                </label>
                                <input type="text" class="form-control" disabled="">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Phone Number</label>
                                <input type="number" min="0" name="phoneNumber" id="phoneNumber" class="form-control"
                                  required>
                              </div>
                            </div>
                            <!-- <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label class="bmd-label-floating">Email address</label>
                          <input type="email" class="form-control">
                        </div>
                      </div> -->
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Address</label>
                                <input type="text" name="address" id="address" class="form-control" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" name="PostalCode" id="PostalCode" class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" name="City" id="City" class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" name="Country" id="Country" class="form-control" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12 mt-3">
                              <h5 class="text-white">Next of Kin Information.</h5>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">First Name</label>
                                <input type="text" name="KinfirstName" id="KinfirstName" class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                <input type="text" class="form-control" name="KinlastName" id="KinlastName" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Email Address</label>
                                <input type="text" class="form-control" name="Kinemail" id="Kinemail" required>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Phone Number</label>
                                <input type="number" min='0' name="KinphoneNumber" class="form-control" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Address</label>
                                <input type="text" name="Kinaddress" id="Kinaddress" class="form-control" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" name='KinCity' class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" name="KinCountry" class="form-control" required>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" class="form-control" name="KinPostalCode" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <h5 class="text-white">Withdrawal Information.</h5>
                            </div>
                            <div class="col-md-3">
                              <div class="custom-control custom-radio mb-4">
                                <input type="radio" class="custom-control-input" id="usdt" name="withdrawalOption"
                                  value="USDT Wallet Address" required>
                                <label class="custom-control-label" for="usdt">USDT</label>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="custom-control custom-radio mb-4">
                                <input type="radio" class="custom-control-input" id="naira" name="withdrawalOption"
                                  value="Bank Information" required>
                                <label class="custom-control-label" for="naira">Naira</label>
                              </div>
                            </div>
                          </div>
                          <div class="row" id="trcWallet">
                            <div class="col-md-12">
                              <h6 class="text-white">USDT Wallet</h6>
                              <p>Please make sure to input a valid TRC20 Wallet Address to avoid loss of funds.</p>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating"> Wallet Address:</label>
                                <input type="text" class="form-control" name="USDTWalletAddress">
                              </div>
                            </div>
                          </div>
                          <div class="row" id="bankAccount">
                            <div class="col-md-12">
                              <h6 class="text-white">Bank Account Information</h6>
                              <p>Please make sure all submitted information is accurate.</p>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Bank:</label>
                                <input type="text" name="NameOfBank" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Account Name:</label>
                                <input type="text" name="BankAccName" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Account No:</label>
                                <input type="number" name="BankAccNo" min="0" class="form-control">
                              </div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
      </div>

      <%- include('../partials/dashboard/scripts.ejs') %>
        <script>
          $(document).ready(function () {
            $().ready(function () {
              $sidebar = $('.sidebar');

              $sidebar_img_container = $sidebar.find('.sidebar-background');

              $full_page = $('.full-page');

              $sidebar_responsive = $('body > .navbar-collapse');

              window_width = $(window).width();


              $wallet = $('#trcWallet');
              $usdtOption = $('#usdt');
              $nairaOption = $('#naira');
              $nairaBankAccount = $('#bankAccount');

              // USDT Wallet Address Form required prop
              $('[name="USDTWalletAddress"]').prop("required", true);
              // Bank Information Text Form required prop
              $('[name="NameOfBank"]').prop('required', false);
              $('[name="BankAccName"]').prop('required', false);
              $('[name="BankAccNo"]').prop('required', false);

              $usdtOption.prop('checked', true);
              $wallet.show();
              $nairaBankAccount.hide();

              $usdtOption.click(function () {
                // USDT Wallet Address Form required prop
                $('[name="USDTWalletAddress"]').prop("required", true);
                // Bank Information Text Form required prop
                $('[name="NameOfBank"]').prop('required', false);
                $('[name="BankAccName"]').prop('required', false);
                $('[name="BankAccNo"]').prop('required', false);
                $usdtOption.prop('checked', true);
                $nairaOption.prop('checked', false);
                $wallet.fadeIn(300);
                $nairaBankAccount.hide();
              })
              $nairaOption.click(function () {
                $nairaOption.prop('checked', true);
                $usdtOption.prop('checked', false);

                // USDT Wallet Address Form required prop
                $('[name="USDTWalletAddress"]').prop("required", false);
                // Bank Information Text Form required prop
                $('[name="NameOfBank"]').prop('required', true);
                $('[name="BankAccName"]').prop('required', true);
                $('[name="BankAccNo"]').prop('required', true);

                $wallet.hide();
                $nairaBankAccount.fadeIn(300);
              })

              $('.fixed-plugin a').click(function (event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                  if (event.stopPropagation) {
                    event.stopPropagation();
                  } else if (window.event) {
                    window.event.cancelBubble = true;
                  }
                }
              });

              $('.fixed-plugin .active-color span').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                  $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                  $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                  $sidebar_responsive.attr('data-color', new_color);
                }
              });

              $('.fixed-plugin .background-color .badge').click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                  $sidebar.attr('data-background-color', new_color);
                }
              });

              $('.fixed-plugin .img-holder').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                  $sidebar_img_container.fadeOut('fast', function () {
                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $sidebar_img_container.fadeIn('fast');
                  });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                  var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                  $full_page_background.fadeOut('fast', function () {
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    $full_page_background.fadeIn('fast');
                  });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                  var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                  var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                  $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                  $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                  $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
              });

              $('.switch-sidebar-image input').change(function () {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                  if ($sidebar_img_container.length != 0) {
                    $sidebar_img_container.fadeIn('fast');
                    $sidebar.attr('data-image', '#');
                  }

                  if ($full_page_background.length != 0) {
                    $full_page_background.fadeIn('fast');
                    $full_page.attr('data-image', '#');
                  }

                  background_image = true;
                } else {
                  if ($sidebar_img_container.length != 0) {
                    $sidebar.removeAttr('data-image');
                    $sidebar_img_container.fadeOut('fast');
                  }

                  if ($full_page_background.length != 0) {
                    $full_page.removeAttr('data-image', '#');
                    $full_page_background.fadeOut('fast');
                  }

                  background_image = false;
                }
              });

              $('.switch-sidebar-mini input').change(function () {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                  $('body').removeClass('sidebar-mini');
                  md.misc.sidebar_mini_active = false;

                  $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                  $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                  setTimeout(function () {
                    $('body').addClass('sidebar-mini');

                    md.misc.sidebar_mini_active = true;
                  }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                  window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                  clearInterval(simulateWindowResize);
                }, 1000);
              });
            });
          });
        </script>
        <script>
          $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

          });
        </script>
        <script>
          // API To Populate Select Form with Countries
          const xhttp = new XMLHttpRequest();
          const countriesSelect = document.querySelector('.countries');

          let countries;


        </script>
  </body>

</html>